.App {
  text-align: center;
  background-color:  #a0e9fc;
  display: flex;
  justify-content: center;
  top: 0;bottom: 0;
  left: 0; right: 0;
  position: absolute;
}
.App-sign {
  text-align: center;
  background-color: #a0e9fc;
  display: flex;
  flex-direction: row;
  justify-content: center;
  
     
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: rgb(136, 9, 150);
    
}
App-c {
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
    
}

.App-link {
  color: #3a38df;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(810deg);
  }
}
